In [47]:
import csv, sqlite3

In [76]:
import pandas as pd 
%sql
chicago_socioeconomic_data = pd.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
chicago_socioeconomic_data

 * sqlite:///SQLiteMagic.db

,ca,community_area_name,percent_of_housing_crowded,percent_households_below_poverty,percent_aged_16_unemployed,percent_aged_25_without_high_school_diploma,percent_aged_under_18_or_over_64,per_capita_income_,hardship_index
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0
...,...,...,...,...,...,...,...,...,...
73,74.0,Mount Greenwood,1.0,3.4,8.7,4.3,36.8,34381,16.0
74,75.0,Morgan Park,0.8,13.2,15.0,10.8,40.3,27149,30.0
75,76.0,O'Hare,3.6,15.4,7.1,10.9,30.3,25828,24.0
76,77.0,Edgewater,4.1,18.2,9.2,9.7,23.8,33385,19.0
77,NaN,CHICAGO,4.7,19.7,12.9,19.5,33.5,28202,NaN

In [90]:
chicago_socioeconomic_data['ca'].describe()
chicago_socioeconomic_data['ca'].idxmax()
chicago_socioeconomic_data.at[76,'community_area_name']

'Edgewater'

76

'Edgewater'

In [79]:
%sql SELECT COUNT(*) FROM chicago_socioeconomic_data

 * sqlite:///SQLiteMagic.db
Done.

[(78,)]

In [80]:
 %sql SELECT COUNT(*) FROM chicago_socioeconomic_data WHERE hardship_index > 50.0;

 * sqlite:///SQLiteMagic.db
Done.

[(38,)]

In [81]:
%sql SELECT MAX(hardship_index) FROM chicago_socioeconomic_data;

 * sqlite:///SQLiteMagic.db
Done.

[(98.0,)]

In [82]:
%sql SELECT community_area_name FROM chicago_socioeconomic_data WHERE per_capita_income_ > 60000;

 * sqlite:///SQLiteMagic.db
Done.

[('Lake View',), ('Lincoln Park',), ('Near North Side',), ('Loop',)]