In [1]:
import csv, sqlite3, os 
import pandas as pd

con = sqlite3.connect("Exercise.db")
%load_ext sql
%sql sqlite:///Exercise.db
con

In [2]:
%sql SELECT name  FROM  sqlite_schema WHERE  type ='table'

 * sqlite:///Exercise.db
Done.

[('chicago_census_data',),
 ('chicago_crime_data',),
 ('chicago_pub_school',),
 ('Persons',),
 ('Pes',)]

In [3]:
%sql create table Persons(\
    user_id int(11),\
    user_name varchar(255),\
    email varchar(255)\
);

 * sqlite:///Exercise.db
(sqlite3.OperationalError) table Persons already exists
[SQL: create table Persons( user_id int(11), user_name varchar(255), email varchar(255) );]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [12]:
%sql insert into Persons (user_id, user_name, email) values (\
    '1', 'ruoman', 'ejndsk@ksjd.ru'),\
    ('1', 'ruo', 'ejndsk@ksjd.ru'),\
    ('1', 'ruo', 'ejndsk@ksjd.ru'),\
    ('2', 'ruo', 'ejndsk@ksjd.ru'),\
    ('2', 'ruoman', 'ejndsk@ksjd.ru')

 * sqlite:///Exercise.db
5 rows affected.

[]

In [9]:
%sql select *  from Persons

 * sqlite:///Exercise.db
Done.

[(1, 'ruoman', 'ejndsk@ksjd.ru'),
 (1, 'ruo', 'ejndsk@ksjd.ru'),
 (1, 'ruo', 'ejndsk@ksjd.ru'),
 (2, 'ruo', 'ejndsk@ksjd.ru'),
 (2, 'ruoman', 'ejndsk@ksjd.ru')]

In [6]:
 
%sql delete from Persons where user_id in (select user_id from (select *, \
        ROW_NUMBER() OVER(PARTITION BY \
        user_name order by user_id) as count from Persons) where count>0);

 * sqlite:///Exercise.db
13 rows affected.

[]

In [10]:
  
%sql select user_id, user_name, count(*) from Persons group by user_name having count(*)>1

 * sqlite:///Exercise.db
Done.

[(1, 'ruo', 3), (1, 'ruoman', 2)]

In [11]:
%sql delete from Persons where user_id not in \
(select max(user_id) from Persons group by user_name)

 * sqlite:///Exercise.db
3 rows affected.

[]

In [13]:
%sql create table Pes(\
    user_id int(11),\
    user_name varchar(255),\
    email varchar(255)\
);

 * sqlite:///Exercise.db
(sqlite3.OperationalError) table Pes already exists
[SQL: create table Pes( user_id int(11), user_name varchar(255), email varchar(255) );]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [14]:
%sql insert into Pes(user_id, user_name, email) values (\
    '1', 'book', 'ejndsk@ksjd.ru'),\
    ('1', 'pencil', 'ejndsk@ksjd.ru'),\
    ('1', 'pencil', 'ejndsk@ksjd.ru')

 * sqlite:///Exercise.db
3 rows affected.

[]

In [15]:
%sql select * from Pes

 * sqlite:///Exercise.db
Done.

[(1, 'book', 'ejndsk@ksjd.ru'),
 (1, 'pencil', 'ejndsk@ksjd.ru'),
 (1, 'pencil', 'ejndsk@ksjd.ru'),
 (1, 'book', 'ejndsk@ksjd.ru'),
 (1, 'pencil', 'ejndsk@ksjd.ru'),
 (1, 'pencil', 'ejndsk@ksjd.ru')]

In [19]:
a = %sql SELECT user_id, user_name,\
       email,\
       CASE WHEN user_name = 'book' THEN 'No'\
            WHEN user_name = 'pencil' THEN 'Yes' \
            else 'Other' END AS   New_Data  FROM Pes;
a

 * sqlite:///Exercise.db
Done.

[(1, 'book', 'ejndsk@ksjd.ru', 'No'),
 (1, 'pencil', 'ejndsk@ksjd.ru', 'Yes'),
 (1, 'pencil', 'ejndsk@ksjd.ru', 'Yes'),
 (1, 'book', 'ejndsk@ksjd.ru', 'No'),
 (1, 'pencil', 'ejndsk@ksjd.ru', 'Yes'),
 (1, 'pencil', 'ejndsk@ksjd.ru', 'Yes')]

In [17]:
%sql SELECT user_name,\
       CASE user_name \
         WHEN 'book' THEN 'No'\
         WHEN 'pencil' THEN 'Yes' \
         ELSE 'Other' \
       END AS New_Data \
FROM Pes\
WHERE New_Data = 'Yes';

 * sqlite:///Exercise.db
Done.

[('pencil', 'Yes'), ('pencil', 'Yes'), ('pencil', 'Yes'), ('pencil', 'Yes')]